<html>
<head></head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="margin:40px; max-width: 600px;">
        <div>
            <img src="cid:header" style="max-width: 600px;">
        </div>

        <div>
            <p style="font-weight: bold;">Audioconferencing Information</p>
            <p> <span style="font-weight: bold;">Personal conferencing name:</span> {email}</p>
        </div>

        <div style="padding: 10px; background-color: #3C6EBA; padding: 10px; color: white;">
            Audio conference details
        </div>
        <table width="100%" style="text-align:left; border-collapse: collapse;">
            <tr style="background-color:#EDEDED;">
                <th width="70%" style="font-weight: normal; padding:10px;">Calling from</th>
                <th style="font-weight: normal; padding:10px;">Call-in Numbers</th>
            </tr>
            <tr>
                <td style="padding:10px; border-bottom: 1px solid #EDEDED;">Germany Toll</td>
                <td style="padding:10px; border-bottom: 1px solid #EDEDED;">+49-619-6781-9736</td>
            </tr>
            <tr>
                <td style="padding:10px; border-bottom: 1px solid #EDEDED;">India Toll (Chennai)</td>
                <td style="padding:10px; border-bottom: 1px solid #EDEDED;">+91-44-6480-0250</td>
            </tr>
        </table>


        <div style="text-align:center;">
            <p><span style="font-weight: bold;">For other countries: </span><a
                    href={site_url}>Global
                    call-in numbers (webex.com)</a></p>
        </div>
        <div style="width:300px; margin: 0 auto;">
            <div style="text-align:left;">
                <p><span style="font-weight: bold;">Host access code:</span> {host_access_code}</p>

                <p><span style="font-weight: bold;">Host Audio PIN:</span> {audio_pin_code}</p>

                <p><span style="font-weight: bold;">Attendee access code:</span> {attendee_access_code}</p>

            </div>
        </div>

        <div style="padding: 10px; background-color: #3C6EBA; padding: 10px; color: white;">
            To host an audio conference
        </div>
        <ul>
            <li>To call in to the meeting as the host, you need the call-in number and host access code.</li>
            <li>When prompted, enter the host Access code and press #.</li>
            <li>When prompted, enter your host PIN and press #.</li>
        </ul>

        <div style="padding: 10px; background-color: #3C6EBA; padding: 10px; color: white;">
            To join an audio conference as attendee
        </div>
        <ul>
            <li>To call in to the meeting as the participant, you need the call-in number and access code
                provided by your host.</li>
            <li>When prompted, enter the Attendee Access code and press #.</li>
        </ul>

        <div style="padding: 10px; background-color: #3C6EBA; padding: 10px; color: white;">
            Command during the meeting
        </div>
        <div class="headline" style="padding: 10px 0; font-weight: bold;">
            Host commands:
        </div>

        <table width="100%" border="1" style="text-align:left; border-collapse: collapse; ">
            <tr>
                <th width="70%" style="padding:10px;">To...</th>
                <th style="padding:10px;">Enter...</th>
            </tr>
            <tr>
                <td style="padding:10px;">Lock the teleconference, preventing anyone else from joining it</td>
                <td style="padding:10px;font-weight: bold;">*5</td>
            </tr>
            <tr>
                <td style="padding:10px;">Unlock the teleconference</td>
                <td style="padding:10px;font-weight: bold;">*5</td>
            </tr>
            <tr>
                <td style="padding:10px;">Mute your microphone</td>
                <td style="padding:10px;font-weight: bold;">*6</td>
            </tr>
            <tr>
                <td style="padding:10px;">Unmute your microphone</td>
                <td style="padding:10px;font-weight: bold;">*6</td>
            </tr>
            <tr>
                <td style="padding:10px;">Meeting reminder email to Host</td>
                <td style="padding:10px;font-weight: bold;">*7</td>
            </tr>
            <tr>
                <td style="padding:10px;">Let participants continue the teleconference without the host</td>
                <td style="padding:10px;"><span style="font-weight: bold;">*8</span> Then hang up your phone.</td>
            </tr>
            <tr>
                <td style="padding:10px;">Mute all attendees with full-speaking access</td>
                <td style="padding:10px;font-weight: bold;">##</td>
            </tr>
            <tr>
                <td style="padding:10px;">Unmute all attendees with full-speaking access</td>
                <td style="padding:10px;font-weight: bold;">99</td>
            </tr>
            <tr>
                <td style="padding:10px;">Play the participant count</td>
                <td style="padding:10px;font-weight: bold;">*#</td>
            </tr>
            <tr>
                <td style="padding:10px;">Hear all keypad commands that you can use</td>
                <td style="padding:10px;font-weight: bold;">**</td>
            </tr>
        </table>

        <div style="padding: 10px 0; font-weight: bold;">
            Attendee commands:
        </div>

        <table width="100%" border="1" style="text-align:left; border-collapse: collapse;">
            <tr>
                <th width="70%" style="padding:10px;">To...</th>
                <th style="padding:10px;">Enter...</th>
            </tr>
            <tr>
                <td style="padding:10px;">Unmute your microphone</td>
                <td style="padding:10px; font-weight: bold;">*6</td>
            </tr>
            <tr>
                <td style="padding:10px;">Meeting reminder email to Host</td>
                <td style="padding:10px;font-weight: bold;">*7</td>
            </tr>
            <tr>
                <td style="padding:10px;">Play the participant count</td>
                <td style="padding:10px;font-weight: bold;">*#</td>
            </tr>
            <tr>
                <td style="padding:10px;">Hear all keypad commands that you can use</td>
                <td style="padding:10px;font-weight: bold;">**</td>
            </tr>
        </table>
    </div>
</body>
</html>